{% extends "PxSPeerReviewingBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block choice_widget %}
	<div class="review-star-rating">
		{% for i in 1..5 %}
			{% set score = (4 + (i-1) * 0.5) %}
			<input class="star required" {{ attr | yaml_dump }} {% if attr.disabled | default(false) %} disabled="disabled" {% endif %} {{ block('widget_attributes') }} type="radio" value="{{ score }}" name="{{- id -}}" {% if score == value %} checked="checked" {% endif %} />
		{% endfor %}
	</div>
{% endblock choice_widget %}

{% block field_row %}
	{{ form_widget(form) }}
{% endblock %}

{% import "PxSPeerReviewingBundle::macros.html.twig" as m %}

{% block content %}

	{% set owner = (app.user.id == form.vars.value.reviewer.id) %}

	<div class="row">
		<div class="span12">			
			<h2>Peer Reviewing</h2>
	
			{% if owner %}
				<p> Here you can learn about the usefulness of each comment you've given. </p>
			{% else %}
				<p> Enter a scored based on the usefulness of each comment. </p>
			{% endif %}
		
			<div class="review-group-item review-group-details">
				{% if owner %}
					<img rel="tooltip" data-original-title="{{ form.vars.value.reviewer.name }}" class="gravatar" height="48" src="https://secure.gravatar.com/avatar/{{- form.vars.value.reviewer.email | lower | trim | md5 -}}?s=140&amp;d=retro" width="48" />
					<div class="arrow">
						<i class="icon-arrow-right"></i>
					</div>
				{% endif %}
				<img rel="tooltip" data-original-title="{{ form.vars.value.presenter.name }}" class="gravatar" height="48" src="https://secure.gravatar.com/avatar/{{- form.vars.value.presenter.email | lower | trim | md5 -}}?s=140&amp;d=retro" width="48" />
				<p class="review-title "> {{ form.vars.value.assignment }} </p>
				<p class="review-date">{{ form.vars.value.timestamp | date('M d')}}</p>
				<div class="review-right-components">
					<ul class="review-stats">
						{% set feedbackScore = 0 %}
						{% set incomplete = false %}
						
						{% for comment in form.vars.value.comments if comment.score is not null %}
							{% set feedbackScore = feedbackScore + comment.score  %}
						{% else %}
							{% set incomplete = true %}	
						{% endfor %}
						<li>
				            <strong>{{ not incomplete ? ((feedbackScore / (form.vars.value.comments | length ))) | number_format(1, ".", " ") : 'NA' }}</strong>
				            <span>feedback score</span>
						</li>
						
						{% if owner %}
							<li>
					            <strong>{{ form.vars.value.score | number_format(1, ".", " ")}}</strong>
					            <span>score</span>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<form class="form-vertical" action="{{ path('PxSPeerReviewingBundle_reviews_detail', {id: form.vars.value.id}) }}" method="POST" {{ form_enctype(form) }}>
				{% set ideaCount = 0 %}
				{% for comment in form.vars.value.comments %}
					<div class="review-comment">
						<h3>
							{{ comment.type | capitalize }}

							{% if comment.type == 'idea' %}
								{% set ideaCount = ideaCount + 1 %}
								{{ ideaCount }}
							{% endif %}
							
							{{ form_widget(form.comments[loop.index0], {'attr': {disabled:'disabled'} }) }}
					 		{# {{ m.starRating('form[comments][' ~ loop.index0 ~ '][score]', comment.score | default('0'), owner) }} #}
						</h3>
						<pre><p>{{ comment.description }}</p></pre>
					</div>
				{% endfor %}
				{% if not owner %}
					<div class="review-actions">
						<button type="submit" class="btn btn-primary" > Submit </button>
					</div>
				{% endif %}
				{{ form_rest(form) }}
				
			</form>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/pxspeerreviewing/js/jquery.rating.min.js') }}"></script>
	<script>
		$('body').tooltip({
			selector: "[rel=tooltip]",
			placement: "bottom"
		});
	</script>
{% endblock %}

		
        
{% block stylesheets %}
	<link href="{{ asset('bundles/pxspeerreviewing/css/jquery.rating.css') }}" rel="stylesheet">
	<style>		
		.review-right-components ul.review-stats {
			float: left;
			margin-top: -8px;
			margin-right: 0px;
		}
		.review-right-components ul.review-stats li {
			list-style-type: none;
			float: left;
			margin-right: 20px;
		}
		.review-right-components ul.review-stats li strong {
			display: block;
			font-size: 36px;
			font-weight: bold;
			color: black;
			line-height:50px;
			text-align:center;
		}
		.review-right-components ul.review-stats li span {
			display: block;
			margin-top: -10px;
			font-size: 11px;
			color: #999;
			text-align:center;
		}

		.review-group {
			list-style-type: none;
			margin: 15px 0;
			background: #F7FBFC;
			border: 1px solid #C5D5DD;
			border-radius: 4px;
			
		}
		
		.review-group-item {
			position: relative;
			padding: 8px;
			height: 50px;
			border-top: 1px solid #C5D5DD; 
		}		

		.review-group-item:first-child {
			border-top:none;
		}
				
		ol .review-group-item:hover {
			background: #FCFCE2;
		}
		
		.review-group-item .gravatar {
			float: left;
			border: 1px solid #C6C6C6;
			margin-right: 5px;
		}
		
		.review-group-item .arrow {
			float: left;
			margin-top: 17px;
			margin-right: 5px;
		}
		
		.review-group-item .review-title {
			margin: 1px 0 1px 0;
			font-size: 17px;
			font-weight: bold;
			margin-top:7px;
		}

		.review-group-item .review-right-components {
			position:absolute;
			top:8px;
			right:8px;
		}
		
		.review-group-item .review-detail-link {
			float:left;
			margin-top:13px;
		}
		
		.review-group-item .review-date {
			font-size: 12px;
			color: #888;
		}
		
		.review-comment {
			margin-top:20px;
		}
		.review-actions {
			margin-top:20px;
		}
		.review-group-details {
			border:none;
			padding-left:0px;
		}
		.review-star-rating {
			float:right;
		}
		
	</style>
{% endblock %}

