{% extends "PxSPeerReviewingBundle::layout.html.twig" %}
{% block content %}
	<div class="row">
		<div class="span12">
			<h2>
				<div class="userbox clearfix">
					<img rel="tooltip" data-original-title="{{ user.name }}" class="gravatar" height="48" src="https://secure.gravatar.com/avatar/{{- user.email | lower | trim | md5 -}}?s=140&amp;d=retro" width="48" />
					<span>{{ user.name }}</span>
				</div>
			</h2>
			<br />
			{% if reviews | length > 0 %}
				<p>This page contains the feedback you've received in your presentations. They are all anonymous and scoreless to discourage biased opinions.</p>
				<p>A score can be assigned to each comment based on its usefulness, to do so, click on the view icon and add a rating to each comment using the stars. </p> 
				<ol class="review-group">
					{% for entry in reviews %}
						<li class="review-group-item">
							<img rel="tooltip" data-original-title="{{ entry.presenter.name }}" class="gravatar" height="48" src="https://secure.gravatar.com/avatar/{{- entry.presenter.email | lower | trim | md5 -}}?s=140&amp;d=retro" width="48" />
							<p class="review-title "> {{ entry.assignment }} </p>
							<p class="review-date">{{ entry.timestamp | date('M d')}}</p>
							<div class="review-right-components">
								<ul class="review-stats">
									{#
									<li>
							            <strong>{{ entry.score | number_format(1, ".", " ")}}</strong>
							            <span>score</span>
									</li>
									#}
									<li>
							            <strong>NA</strong>
							            <span>feedback score</span>
									</li>
									<li>
							            <strong><a href="{{ path('PxSPeerReviewingBundle_reviews_detail', { user: user.id, review: entry.id }) }}"><img height="24" width="24" src={{ asset('bundles/pxspeerreviewing/img/next.png') }} /></a></strong>
							            <span>view</span>
									</li>
								</ul>
							</div>
						</li>
					{% endfor %}
				</ol>
			{% else %}
				<p> You have no reviews available </p>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$('body').tooltip({
			selector: "[rel=tooltip]",
			placement: "bottom"
		});
	</script>
{% endblock %}

{% block stylesheets %}
	<style>
		.review-right-components ul.review-stats {
			float: left;
			margin-top: -8px;
			margin-right: 0px;
		}
		.review-right-components ul.review-stats li {
			list-style-type: none;
			float: left;
			margin-right: 20px;
		}
		.review-right-components ul.review-stats li:last-child {
			margin-right: 0px;
		}	
		.review-right-components ul.review-stats li strong {
			display: block;
			font-size: 36px;
			font-weight: bold;
			color: black;
			line-height:50px;
			text-align:center;
		}
		.review-right-components ul.review-stats li span {
			display: block;
			margin-top: -10px;
			font-size: 11px;
			color: #999;
			text-align:center;
		}

		.review-group {
			list-style-type: none;
			margin: 15px 0;
			background: #F7FBFC;
			border: 1px solid #C5D5DD;
			border-radius: 4px;
			
		}
		
		.review-group-item {
			position: relative;
			padding: 8px;
			height: 50px;
			border-top: 1px solid #C5D5DD; 
		}

		.review-group-item:first-child {
			border-top:none;
		}
				
		ol .review-group-item:hover {
			background: #FCFCE2;
		}
		
		.review-group-item .gravatar {
			float: left;
			border: 1px solid #C6C6C6;
			margin-right: 5px;
		}
		
		.review-group-item .arrow {
			float: left;
			margin-top: 17px;
			margin-right: 5px;
		}
		
		.review-group-item .review-title {
			margin: 1px 0 1px 0;
			font-size: 17px;
			font-weight: bold;
			margin-top:7px;
		}

		.review-group-item .review-right-components {
			position:absolute;
			top:8px;
			right:8px;
		}
		
		.review-group-item .review-date {
			font-size: 12px;
			color: #888;
		}
		
		
	</style>
{% endblock %}

