<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			{% if user is defined %}
				<a class="brand" href="{{ path('PxSPeerReviewingBundle_reviews', { user: user.id }) }}">PeerReviewer</a>
			{% else %}
				<a class="brand" href="{{ path('PxSPeerReviewingBundle_homepage') }}">PeerReview</a>
			{% endif %}
			{% if user is defined %}
			<ul class="nav">
				<li {% if page == 'reviews' %} class="active" {% endif %}><a href="{{ path('PxSPeerReviewingBundle_reviews', { user: user.id }) }}">Reviews</a></li>
				<li {% if page == 'feedback' %} class="active" {% endif %}><a href="{{ path('PxSPeerReviewingBundle_feedback', { user: user.id }) }}">Feedback</a></li>
				<li class="divider-vertical"></li>
				<li {% if page == 'new-review' %} class="active" {% endif %}><a href="{{ path('PxSPeerReviewingBundle_feedback', { user: user.id }) }}">New Review</a></li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="{{ path('PxSPeerReviewingBundle_homepage') }}">Change Reviewer</a></li>
			</ul>
			{% endif %}
		</div>
	</div>
</div>