{% extends "PxSPeerReviewingBundle::layout.html.twig" %}

{% block content %}
	<div class="row">
		<div class="span12">
			<h2>Welcome! {{ user.name }} </h2>
			<ol>
				{% for entry in reviews %}
					<li>{{ entry.id }} {{ entry.score }} {{ entry.presenter.name }} {{ entry.reviewer.name }}</li>
				{% endfor %}
			</ol>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
	</script>
{% endblock %}

